In [46]:
# importing pandas as pd 
import pandas as pd

In [55]:
#assigning the filepaths to a variable
file_country = 'Edstats_csv/EdStatsCountry.csv'

In [56]:
df = pd.read_csv(file_country)
df.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Latest water withdrawal data,Unnamed: 31
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,SNA data for 2000-2011 are updated from offici...,Latin America & Caribbean,High income: nonOECD,AW,...,NaN,2010,NaN,NaN,Yes,NaN,NaN,2012.0,NaN,NaN
1,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,Fiscal year end: March 20; reporting period fo...,South Asia,Low income,AF,...,General Data Dissemination System (GDDS),1979,"Multiple Indicator Cluster Survey (MICS), 2010/11","Integrated household survey (IHS), 2008",NaN,2013/14,NaN,2012.0,2000,NaN
2,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,"April 2013 database update: Based on IMF data,...",Sub-Saharan Africa,Upper middle income,AO,...,General Data Dissemination System (GDDS),1970,"Malaria Indicator Survey (MIS), 2011","Integrated household survey (IHS), 2008",NaN,2015,NaN,NaN,2005,NaN
3,ALB,Albania,Albania,Republic of Albania,AL,Albanian lek,NaN,Europe & Central Asia,Upper middle income,AL,...,General Data Dissemination System (GDDS),2011,"Demographic and Health Survey (DHS), 2008/09",Living Standards Measurement Study Survey (LSM...,Yes,2012,2010.0,2012.0,2006,NaN
4,AND,Andorra,Andorra,Principality of Andorra,AD,Euro,NaN,Europe & Central Asia,High income: nonOECD,AD,...,NaN,2011. Population figures compiled from adminis...,NaN,NaN,Yes,NaN,NaN,2006.0,NaN,NaN

In [58]:
df_country_name_with_features = df.loc[:,['Short Name','Income Group', 'Latest population census']]
df_country_name_with_features

,Short Name,Income Group,Latest population census
0,Aruba,High income: nonOECD,2010
1,Afghanistan,Low income,1979
2,Angola,Upper middle income,1970
3,Albania,Upper middle income,2011
4,Andorra,High income: nonOECD,2011. Population figures compiled from adminis...
5,Arab World,NaN,NaN
6,United Arab Emirates,High income: nonOECD,2010
7,Argentina,Upper middle income,2010
8,Armenia,Lower middle income,2011
9,American Samoa,Upper middle income,2010
10,Antigua and Barbuda,High income: nonOECD,2011
11,Australia,High income: OECD,2011
12,Austria,High income: OECD,2011. Population figures compiled from adminis...
13,Azerbaijan,Upper middle income,2009
14,Burundi,Low income,2008
15,Belgium,High income: OECD,2011
16,Benin,Low income,2013
17,Burkina Faso,Low income,2006
18,Bangladesh,Low income,2011
19,Bulgaria,Upper middle income,2011
20,Bahrain,High income: nonOECD,2010
21,The Bahamas,High income: nonOECD,2010
22,Bosnia and Herzegovina,Upper middle income,2013
23,Belarus,Upper middle income,2009
24,Belize,Upper middle income,2010
25,Bermuda,High income: nonOECD,2010
26,Bolivia,Lower middle income,2012
27,Brazil,Upper middle income,2010
28,Barbados,High income: nonOECD,2010
29,Brunei,High income: nonOECD,2011
...,...,...,...
211,Chad,Low income,2009
212,Togo,Low income,2010
213,Thailand,Upper middle income,2010
214,Tajikistan,Low income,2010
215,Turkmenistan,Upper middle income,2012
216,Timor-Leste,Lower middle income,2010
217,Tonga,Upper middle income,2006
218,Trinidad and Tobago,High income: nonOECD,2011
219,Tunisia,Upper middle income,2004
220,Turkey,Upper middle income,2011
221,Tuvalu,Upper middle income,2012
222,Tanzania,Low income,2012
223,Uganda,Low income,2002
224,Ukraine,Lower middle income,2001
225,Upper middle income,NaN,NaN
226,Uruguay,High income: nonOECD,2011
227,United States,High income: OECD,2010
228,Uzbekistan,Lower middle income,1989
229,St. Vincent and the Grenadines,Upper middle income,2011
230,Venezuela,Upper middle income,2011
231,Virgin Islands,High income: nonOECD,2010
232,Vietnam,Lower middle income,2009
233,Vanuatu,Lower middle income,2009
234,World,NaN,NaN
235,Samoa,Lower middle income,2011
236,Kosovo,Lower middle income,2011
237,Yemen,Lower middle income,2004
238,South Africa,Upper middle income,2011
239,Zambia,Lower middle income,2010
240,Zimbabwe,Low income,2012

In [52]:
df_country_name_with_features['Income Group'].value_counts()

Upper middle income     55
Lower middle income     50
High income: nonOECD    44
Low income              34
High income: OECD       31
Name: Income Group, dtype: int64

In [53]:
df_country_name_with_features['Latest population census'].value_counts()

2011                                                                                                                                                                              59
2010                                                                                                                                                                              49
2012                                                                                                                                                                              18
2009                                                                                                                                                                              14
2007                                                                                                                                                                               9
2008                                                                                                                                                                               9
2006                                                                                                                                                                               8
2013                                                                                                                                                                               8
2004                                                                                                                                                                               7
2002                                                                                                                                                                               5
2005                                                                                                                                                                               4
2003                                                                                                                                                                               3
2011. Population figures compiled from administrative registers.                                                                                                                   3
1998                                                                                                                                                                               2
1984                                                                                                                                                                               2
1970                                                                                                                                                                               2
1989                                                                                                                                                                               1
1996                                                                                                                                                                               1
2011. The population censuses for 1986 and 1996 were based on a one-in-seven sample of the population, while that for 2006 was based on a one-in-ten sample of the population.     1
1997                                                                                                                                                                               1
1987                                                                                                                                                                               1
2006. Rolling census based on continuous sample survey.                                                                                                                            1
1983                                                                                                                                                                               1
1979                                                                                                                                                                               1
Guernsey: 2009; Jersey: 2011.                                                                                                                                                      1
2001                                                                                                                                                                               1
1993                                                                                                                                                                               1
Name: Latest population census, dtype: int64